@charset "utf-8";

/********************************************************************************************************************/
/*General UI Settings*/
.UIScale {
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	font-size: 100%;
  color: #abb2bf;
}

.UIScale h1 {
	font-size: 110%;
}

.outerdiv{
  height:102%; /*stretch content Div to full body*/
  overflow:hidden;
  display: block;
}

.UIIcon {

}

html, body {
  width: -webkit-fill-available;
  height: 100vh;
	overflow: hidden;
  background-color: #282c34;
  margin: 0;
  padding: 0;


}

/********************************************************************************************************************/
/*X to close Timeline and Console*/

#timeline-wrapper {
  position: relative; /*let X place at relative position*/
  overflow: hidden; /*so X doesn't overflow*/
}

#console-wrapper {
  position: relative; /*let X place at relative position*/
}

.X {
  font-size: 10px; /*size of image*/
  padding: 3px 5px; /*space between image and button-border*/
}
.close-X {
  position: absolute;
  text-align: center;
  top: 3px;   /*Button space to top right border*/
  right: 3px; /*Button space to top right border*/
  padding: 0; /*image shall fill whole button*/
  margin: 0;  /*image shall fill whole button*/
  background-color: #282c34; /*less dark Gray background */
  color: Gray;
  border: none; /* Remove borders */
  outline:0;  /*no automatic border*/
}
.close-X:hover{
  background-color: #131416; /*less dark Gray background */

}
/********************************************************************************************************************/
/*Console-Text prperties*/

.console-error-msg {
  color: #d54e45;
  font-weight: bold;
}

.console-warning-msg {
  color: #d8ad3e;
  font-weight: bold;
}


/********************************************************************************************************************/
/*Scrollbar-Elements*/
/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #282c34;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4b5362;
    border-radius: 5px;
}

/*Corner where scrollbars meet*/
::-webkit-scrollbar-corner{
    background: #282c34;
}

/********************************************************************************************************************/
/*CSS for sidebar menu animations */

#sidebar-menu {
  white-space: nowrap;
  margin-left: 10px;
}

.collapsible {
    background-color: #282c34;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    border-radius: 2px;
    margin-top: 10px;
    display: block;
}

.collapsible:active {

}

.collapsible:hover {
    background-color: #777;
}

.collapsible-content {
    padding: 0 2px;
    display: none;
    overflow: hidden;
    background-color: #21252b;
}

.collapsible-icon {
    float: right;
    height: 1em;
    width: 1em;
    margin-top: 0.2em;
    transform: rotate(270deg);
}

.collapsible-icon-active {
    float: right;
    height: 1.1em;
    width: 1em;
    margin-top: 0.2em;
    transform: rotate(0deg);
}

/********************************************************************************************************************/
/*CSS for site-content like console, timeline etc.*/
.wrapper-filler {
  height: -webkit-fill-available;
}

#console {
	overflow: scroll;
  font-family: "Courier New", Consolas, monospace;
}

#sidebar-wrapper {
  background-color: #21252b;
}

#editor {
  overflow: hidden;
  height: inherit;
  width: -webkit-fill-available;
  margin: 0;
  padding: 0;
}

#timeline {
    overflow: hidden;
}

/********************************************************************************************************************/
/*Split.js classes for Slidebars*/
.split p, .split-flex p {
    padding: 20px;
  }

  .split, .split-flex {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    overflow-y: auto;
    overflow-x: hidden;
  }

  .gutter {
    background-color: #4b5362;

    background-repeat: no-repeat;
    background-position: 50%;
  }

  .gutter.gutter-horizontal {
    background-image: url('icons/grip-vertical.png');
    cursor: ew-resize;
  }

  .gutter.gutter-vertical {
    background-image: url('icons/grip-horizontal.png');
    cursor: ns-resize;
  }

  .split.split-horizontal, .gutter.gutter-horizontal {
    height: 100%;
    float: left;
  }
/********************************************************************************************************************/
/* Color Picker Classes */
.ui-colorpicker-picker {
  background-color: #21252b;
}

.ui-colorpicker-spacer {
  display: block;
}

.ui-colorpicker-slider {
  -webkit-appearance: none;
  width: 122px;
  height: 5px;
  border-radius: 5px;
  background: #4b5362;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.ui-colorpicker-slider:hover {
  opacity: 1;
}

.ui-colorpicker-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #74def1;
    cursor: pointer;
}



input[type="number"].ui-colorpicker-box::-webkit-inner-spin-button {
  -webkit-appearance: none;
  opacity: 1
    cursor:pointer;
    display:block;
    width:8px;
    color: #333;
    text-align:center;
    position:relative;

}
input[type=number].ui-colorpicker-box::-webkit-inner-spin-button:hover,
input[type=number].ui-colorpicker-box::-webkit-inner-spin-button:active {
  background: #21252b url('./icons/spinner.png') no-repeat 50% 50%;
  width: 10px;
  height: 10px;
  margin-top: 2px;
  margin-bottom: 1px;
  padding: 4px;



}




/*
,
input[type="number"].ui-colorpicker-box::-webkit-outer-spin-button

.ui-colorpicker-box::-webkit-inner-spin-button:hover,
.ui-colorpicker-box::-webkit-inner-spin-button:active{
    opacity: .8;
}*/


.ui-colorpicker-box {
  width: 40px;
  background-color: inherit;
  color: inherit;
  border-style: solid;
  border-color: #21252b;
  -webkit-box-shadow: none;
}

.ui-colorpicker-wrapper {
  padding-left: 13px;
}

.ui-colorpicker-prev {
  height: 20px;
  width: 170px;
  margin-bottom: 5px;
  margin-left: 13px;
}

/********************************************************************************************************************/
/* Toolbar Classes */

#toolbar-wrapper {
  background-color: #21252b;
  border-bottom: solid black 1px;
  height: 60px;
  overflow: hidden;
}

.tool {
    background-color:  #282c34; /* dark Gray background */
    border: solid black 1px; /* Remove borders */
    color: Gray; /* White text */
    outline:0;  /*no automatic border*/
    height: 35px;
    width: 35px;
    margin: 20px 10px;
    padding: 5px 5px; /* Some padding */
    font-size: 18px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}
.tool:hover { /*When hoverd*/
  border: solid #835e15 2px; /* Remove borders */
  border-radius: 5px;
}
.tool:active { /*while clicked*/
  background-color:  #131416; /*less dark Gray background */
}


.radioButton-active {
  background-color:  #131416; /*less dark Gray background */
  border: solid #835e15 2px; /* Remove borders */
  border-radius: 5px;
  outline:0;  /*no automatic border*/
  height: 35px;
  width: 35px;
  color: Gray; /* White text */
  margin: 20px 10px;
  padding: 5px 5px; /* Some padding */
  font-size: 18px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/********************************************************************************************************************/

.tooltip {
    position: relative;
}

.tooltip .tooltipText {
    visibility: hidden;
    white-space: pre;
    background-color: #131416;
    color: #abb2bf;
    text-align: center;
    font-size: 80%;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1; /*overlay*/
    bottom: 0px;
    left:100%;
    margin-left: 5px;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
   opacity: 0;
   transition: opacity 1s;
   transition-delay: 0.2s;
}

.tooltip:hover .tooltipText {
    visibility: visible;
    opacity: 1;
}
