@charset "utf-8";

/********************************************************************************************************************/
/*General messageBox settings*/

.UIScale {
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	font-size: 100%;
  color: #abb2bf;
}

html, body {
  width: -webkit-fill-available;
  height: 100vh;
	overflow: hidden;
  margin: 0;
  background-color: #282c34;

  padding: 0;
}

input[type="text"] {
  background-color: inherit;
  color: #abb2bf;
  border-style: solid;
  border-color: #21252b;
  -webkit-box-shadow: none;

}


input[type="number"] {
  width: 50px;
  background-color: inherit;
  color: #abb2bf;
  border-style: solid;
  border-color: #21252b;
  -webkit-box-shadow: none;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  opacity: 1
    cursor:pointer;
    display:block;
    width:8px;
    color: #333;
    text-align:center;
    position:relative;
}

input[type=number]::-webkit-inner-spin-button:hover,
input[type=number]::-webkit-inner-spin-button:active {
  background: #21252b url('./../icons/spinner.png') no-repeat 50% 50%;
  width: 10px;
  height: 10px;
  margin-top: 2px;
  margin-bottom: 1px;
  padding: 4px;
}

button {
  background-color: inherit;
  color: #abb2bf;
  border-style: solid;
  border-color: #21252b;
  -webkit-box-shadow: none;
  margin-top: 5px;

}

select {
   background: #21252b;
   background-color: #21252b;
   color: #abb2bf;
   outline:0;  /*no selection border*/
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   border-color: #21252b;
}

select:focus{
     outline:0;  /*no selection border*/
}

select option:focus{
     outline:0;  /*no selection border*/
}

select option {
   background: transparent;
   outline:0;  /*no selection border*/
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
   border-color: #21252b;
}

.slider {
  -webkit-appearance: none;
  margin-bottom: 2px;
  width: 150px;
  height: 5px;
  border-radius: 5px;
  background: #4b5362;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #74def1;
    cursor: pointer;
}

.ok-button {
  margin-left: 25px;
}

.close-button {
  margin-right: 25px;
}


/********************************************************************************************************************/
/* Grid Window */

#gridWindow {
  margin: 0 auto;
  margin-top: 25px;
  display: block;
  width: 140px;
  height: 50px;
}

/********************************************************************************************************************/
/* Panel Window */
#panelWindow {
  margin-top: 10px;
}

.panelInput {

  float: left;
  display: block;
  margin-top: 0px;
  margin-left: 0px;
}

.textContainer {
  margin-top: 3px;
  height: 20px;
}

.fanContainer {
  margin-top: 30px;
  height: 50px;
}
.colCorContainer {
  margin-top: 30px;
  height: 50px;
}

#xPos {
  margin-right: 10px;
}

#labels {
  float: left;
  text-align: right;
  width: 46%;
  margin-right: 15px;
}

#values {
  float: left;
  width: 46%;
  margin-left: 20px;
}

.vl {
  float: left;
  width: 1%;
  border-left: 2px solid #21252b;
  height: 350px;
  margin-left: 10px;
  margin-top: -10px;
  top: 0;
}

.hl {
  float: left;
  width: 100%;
  border-top: 2px solid #21252b;
  height: 1px;
}
#panel-ok-button {
  width: 50px;
  margin-left: -27px;
}

#panel-close-button {
  width: 50px;
  margin-left: 1px;
}

#panel-buttons {
  float: right;
  clear: left;
  margin-top: 15px;
  width: 54%;
}

















/**/
